@import "tailwindcss";


.hero{
    @apply p-8 
}

.hero-name{
    @apply text-2xl font-bold mb-4 sm:text-4xl sm:*:mb-6
}

.hero-work{
    @apply text-lg text-[#cbd5e1] sm:text-xl
}

.pramary-p{
    @apply text-sm mt-4 text-[#64748b] sm:text-xl font-bold
}

.icons{
    @apply  text-4xl text-[#94a3b8]  hover:animate-bounce sm:text-5xl focus:text-orange-500 focus:animate-bounce
    
}

.icons:hover{
    color: #F97316;
}


.title{
    @apply px-8  text-lg sm:text-xl
}

.text-hover:hover{
    color: #5eead4;
   
}

.tech-used{
    @apply  bg-[#2DD4BF1A] p-2 space-x-2
}

.title-sticky{
    @apply sticky top-0  bg-[#0f172a] mb-4
}

.input-style{
    @apply bg-[#cbd5e1] text-[#64748b] p-1 mt-1 text-sm w-full mb-4 rounded-sm
}

.btn-click{
    @apply text-white bg-[#0f172a] w-full text-sm py-2 font-bold rounded-sm hover:animate-bounce shadow-xl
}

.btn-click:hover{
    background-color: #F97316;
    border: 2px solid #0f172a;
}

.links{
    @apply hidden  lg:flex hover:text-orange-500 hover:animate-bounce
}

.navbar{
    @apply flex justify-between py-4 z-50 bg-[#0f172a] fixed w-full top-0 px-8 shadow-lg sm:px-20 
}

.nav-btn{
    @apply bg-orange-500 p-2 rounded-full px-3 shadow-lg 
}

.nav-btn:hover{
    border: 2px solid #F97316;
    background-color: transparent;
}

.service-card{
    @apply  my-4 bg-white text-[#0f172a] text-center items-center px-4 py-6 rounded-lg shadow-lg 
}


